body {
    background-color: darksalmon;
    color: aliceblue;
    font-size: small;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}