body {
    background-color:purple;
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
    font-style:unset;
    text-align: left;
    text-decoration: dotted;
    text-shadow: 2px;
    font-size: x-large;
}